/* CSS Document */
/* CSS Document Created by Bob McKay, www.FreshMango.com */
/* You may reuse, redistribute and rework this as long as you keep my details in */
/* Protected under this licesnse: http://creativecommons.org/licenses/by/2.5/ */

#calendar {
	width: 141px;
	padding: 0;
	margin: 0;
	color: #616B76;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	border: 2px solid #f60;
	background-color: #f90;
}
#calendar caption a {
	color: #fff;	
	text-decoration: none;
}	
#calendar caption {
	color: #fff;
	margin: 0;
	padding: 3px 0px 3px 0px;
	width: 141px;
	text-align: center;
	font-weight: bolder;
	background-color: #FF6600;
}
#calendar th {
	color: #666;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	background-color: #ccc;
}
#calendar td {
	width: 18px;
	text-align: center;
	background-color: #fff;
}
#calendar td a {
	color: #666;
	text-decoration: none;
	font-weight: bold;
	display: block;
	padding: 2px 0px 2px 0px;
}
#calendar td a:hover {
	color: #fff;
	background-color: #09f!important;
}
#calendar a.today {
	font-weight: bold;
	border-top: 2px solid #00f;
	border-bottom: 2px solid #00f;
	padding: 0px!important;
}
