<div style="-moz-border-radius:8px;-webkit-border-radius:8px;padding:10px;width:335px;float:right;margin:10px 0 0 88px;border:1px solid #ccc;background:#fff;">
<form action="/user/login.asp?mode=AddUser" name="adduser" method="post" class="_validate">
<div class="checkout1">
	<table>
		<tr>
			<td colspan="2"><b>הרשמה לאתר</b></td>
		</tr>
		
		<tr>
			<td width="125">שם משתמש:</td>			
			<td><input style="height:30px;line-height:30px;width:200px;" type="text" name="LoginName" class="required"></td>	
		</tr>
		<tr>
			<td>דוא"ל</td>			
			<td><input style="height:30px;line-height:30px;width:200px;" type="text" name="Email" class="required email"></td>	
		</tr>
		<tr>
			<td>סיסמא:</td>
			<td><input style="height:30px;line-height:30px;width:200px;" type="password" name="Password1" class="required"></font></td>
		</tr>
		<tr>
			<td>וידוא סיסמא:</td>
			<td><input style="height:30px;line-height:30px;width:200px;" type="password" name="Password2" class="required"></font></td>
		</tr>		
	</table>
</div>
<input type="submit" class="send" style="float:left;" value="הרשם">
</form>
</div>