<div class="search4"></div>
<div class="text">
	<div class="intext">
	<h1 class="headline_text_h1">[Name]</h1>
	<div class="border"></div>
		<div class="right">
		[Text]
		[getsons]
		</div>
	<div id="Image_page" class="left">
		<div class="map_top"></div>
		<div class="map_middle"><img src="[Image]" alt="[Name]" title="[Name]"></div>
		<div class="map_bottom"></div>
	</div>
	</div>
</div>
<div class="bottom"></div>
<script type="text/javascript">$(document).ready(function(){
	if ("[Image]".replace(/\s/g,"") == "") $("#Image_page").hide();
	});
</script>