<div class="newsletterdesign">
<div style="line-height:25px;float:right;padding:0 0 5px 0;"><span>הכנס שם:</span> <input id="nameinput" name="name" maxlength="50" style="direction:rtl;" class="required newsletterdesigninput"></div>
<div style="line-height:25px;float:right;padding:0 0 5px 0;"><span>הכנס אימייל:</span> <input id="mailinginput"  name="email" maxlength="50" dir="ltr" class="required email newsletterdesigninput"></div>
<div style="line-height:25px;float:right;display:none;">[userscategoryID userscategory]</div>
<div style="line-height:25px;float:right;"><input type="radio" name="Mode" value="Add" id="add" checked>
<label for="add">הרשם</label>
<input type="radio" name="Mode" value="Del" id="mod">
<label for="mod">הסר</label>
<input type="submit" alt="שלח" title="שלח" class="button2" value="שלח" />
</div>
</div>
