		</div>
		<div class="left">
			<div class="map_top"></div>
			<div class="map_middle" id="map" rel="c" style="width:231px;height:225px;border-right:1px solid #bfbfbf;border-left:1px solid #bfbfbf;border-top:0px;border-bottom:0px;">
				<!--<a href="#" title=""><img src="/sites/cityp/layout/he-IL/images/map.gif" alt="[Name]" title="[Name]" width="225"/></a>-->
			</div>
			<div class="map_bottom"></div>
			<a href="#" title="השכר חניה" class="parking2">השכר חניה</a>
			<a href="#" title="מצא חניה" class="parking2">מצא חניה</a>
		</div>
	</div>
</div>
<div id="loader"><img src="/sites/cityp/layout/he-IL/images/42.gif" /></div>
<div class="bottom"></div>