		<div class="right" >
		<div id="results">
		</div>
<div id="pager"></div>
		</div>
		<div class="left">
			<div class="map_top"></div>
			<div class="map_middle" id="map" style="width:225px;height:225px;border-right:1px solid #bfbfbf;border-left:1px solid #bfbfbf;border-top:0px;border-bottom:0px;">
				<!--<a href="#" title=""><img src="/sites/cityp/layout/he-IL/images/map.gif" alt="[Name]" title="[Name]" width="225"/></a>-->
			</div>
			<div class="map_bottom"></div>
		</div>
		<iframe src="http://www.citypark.co.il/Campaign" scrolling="no" frameborder="0" width="170" height="610" style="margin:0px 40px 0px 0px">
<div id="loader"><img src="/sites/cityp/layout/he-IL/images/42.gif" /></div>