<tr>
	<td>[parkingID]</td>
	<td style="text-align: right; padding-right: 40px;">[Name]</td>
	<td style="text-align: right; padding-right: 10px;">[city]</td>
	<td style="text-align: right; padding-right: 10px;">[street_name]</td>
	<td>[house_number]</td>
	<td><a href="/admin/form.asp?formID=4&m=edit&ID=[parkingID]"><img border="0" alt="ערוך" src="images/edit.gif"></a></td>
	<td><a href="/admin/form.asp?formID=4&m=delete&ID=[parkingID]"><img border="0" alt="מחק" src="images/delete.gif"></a></td>
</tr>