vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Jan 2009 14:34:38 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{98069F06-BFD6-4323-874F-2C8B41A6F650}
vti_backlinkinfo:VX|ColourPicker/IE5.5+/ColorPicker.htm
vti_cacheddtm:TX|20 Jan 2009 14:34:38 -0000
vti_filesize:IR|14807
vti_cachedlinkinfo:VX|S|../ie5.5+/gradients.png S|../ie5.5+/gradients.png S|../ie5.5+/WebSafe.gif S|../ie5.5+/VerticalPosition.gif S|../ie5.5+/GradientPositionLight.gif S|../ie5.5+/Color.cur S|../ie5.5+/Color.cur S|../ie5.5+/gradients.png
vti_cachedsvcrellinks:VX|FSUS|ColourPicker/ie5.5+/gradients.png FSUS|ColourPicker/ie5.5+/gradients.png FSUS|ColourPicker/ie5.5+/WebSafe.gif FSUS|ColourPicker/ie5.5+/VerticalPosition.gif FSUS|ColourPicker/ie5.5+/GradientPositionLight.gif FSUS|ColourPicker/ie5.5+/Color.cur FSUS|ColourPicker/ie5.5+/Color.cur FSUS|ColourPicker/ie5.5+/gradients.png
vti_syncwith_localhost\\d\:\\gibuy\\yifat.net/d\:/gibuy/yifat.net:TR|20 Jan 2009 14:34:38 -0000
