vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Jan 2009 14:34:35 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{0AF2A726-F62A-4398-88F2-0AA1B669837E}
vti_backlinkinfo:VX|calander/inc_calendar.asp calander/datePicker.asp
vti_cacheddtm:TX|20 Jan 2009 14:34:35 -0000
vti_filesize:IR|2055
vti_cachedlinkinfo:VX|S|/articles/filestore/calendar/bg_calendar.gif S|/articles/filestore/calendar/bg_calendar.gif
vti_cachedsvcrellinks:VX|NSUS|articles/filestore/calendar/bg_calendar.gif NSUS|articles/filestore/calendar/bg_calendar.gif
vti_syncwith_localhost\\d\:\\gibuy\\yifat.net/d\:/gibuy/yifat.net:TR|20 Jan 2009 14:34:35 -0000
