vti_encoding:SR|utf8-nl
vti_author:SR|WEB101\\Administrator
vti_timelastmodified:TR|13 May 2009 08:25:44 -0000
vti_timecreated:TR|27 Apr 2009 12:25:13 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{F0D618B7-EC1C-471E-9D3F-78FC4CEBF331}
vti_backlinkinfo:VX|blocks/gallery2/gallery2.asp blocks/gallery2/photos/index.asp Sites/royale/layout/test.html blocks/gallery2/photos/gallery1.asp blocks/gallery2/photos/g1.asp
vti_nexttolasttimemodified:TR|12 May 2009 10:11:16 -0000
vti_syncwith_localhost\\d\:\\gibuy\\yifat.net/d\:/gibuy/yifat.net:TR|29 Apr 2009 16:48:05 -0000
vti_cacheddtm:TX|13 May 2009 08:25:44 -0000
vti_filesize:IR|1962
vti_cachedlinkinfo:VX|S|images/left.gif S|images/right.gif S|images/link.gif S|images/scroll-left.gif S|images/scroll-right.gif
vti_cachedsvcrellinks:VX|FSUS|blocks/gallery2/images/left.gif FSUS|blocks/gallery2/images/right.gif FSUS|blocks/gallery2/images/link.gif FSUS|blocks/gallery2/images/scroll-left.gif FSUS|blocks/gallery2/images/scroll-right.gif
vti_modifiedby:SR|WEB101\\Administrator
