<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"> 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>[title]</title>
    <meta name="keywords" content="[keywords]" />
    <meta name="description" content="[description]" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    <meta http-equiv="Content-Language" content="he" />
    <meta name="ROBOTS" content="INDEX,FOLLOW" />
    <meta name="copyright" content="Dooble.co.il" />
    <meta name="Author" content="Dooble.co.il" />
    <meta name="rating" content="General" />
    [header-includes]
</head>
<body id="body">
<div id="container">
<div id="header">
    <div style="width:100%;height:56px;">
        <div style="width:200px;float:right;height:56px;color:#fff;line-height:56px;margin-right:10px;font-weight:bold;"></div>
        <div style="width:200px;float:left;height:56px;"><img style="float:left;margin-left:10px;" src="/sites/cms/layout/images/logo.gif" border="0" alt="" /></div>  
    </div>
</div>
<div id="content">