<div style="width:511px;height:250px;margin:50px auto;background:url(/sites/cms/layout/images/login.gif) no-repeat;">
    <div style="width:333px;height:125px;position:relative;top:57px;right:162px;">
        <div style="padding:10px;">
                <table style="font-size:14px;font-weight:bold;" dir="rtl" cellpadding="0" cellspacing="0" border="0" width="100%" height="100">
                    <tr>
                        <td>שם משתמש</td>
                        <td><input type="text" dir="rtl" name="" style="width:150px;float:left;color:#999999;float:left;font-family:arial;font-size:16px;font-weight:bold;width:150px;"></td>
                    </tr>
                    <tr>
                        <td>סיסמא</td>
                        <td><input type="password" dir="rtl" name="" style="width:150px;float:left;color:#999999;float:left;font-family:arial;font-size:16px;font-weight:bold;width:150px;"></td>
                    </tr>
                    <tr>
                        <td><a style="font-size:12px;" href="#">שכחתי את סיסמתי</a></td>
                        <td><form action="עמוד-הבית"><input type="submit" style="float:left;" value="הכנס"></form></td>
                    </tr>
                </table>
        </div>
        <div>
        <div style="padding:10px 10px 0 0;">כתובת ה-IP שלך נשמרה במערכת למטרת אבטחה.</div>
        <div style="padding:10px 10px 0 0;color:#1CB8DF;font-weight:bold;">82.80.235.15</div>
    </div>
</div>