<div style="background:#F0F0F0;height:290px;border:1px solid #CCCCCC;margin:10px 15px;padding:15px;">
    <div style="height:100%;float:right;width:65%">
        <div style="width:24%;height:150px;float:right;"><img src="/sites/cms/layout/images/i1.gif" border="0" alt="" /></div>
        <div style="width:24%;height:150px;float:right;"><img src="/sites/cms/layout/images/i2.gif" border="0" alt="" /></div>
        <div style="width:24%;height:150px;float:right;"><img src="/sites/cms/layout/images/i3.gif" border="0" alt="" /></div>
        <div style="width:24%;height:150px;float:right;"><img src="/sites/cms/layout/images/i4.gif" border="0" alt="" /></div>
        <div style="width:24%;height:150px;float:right;"><img src="/sites/cms/layout/images/i5.gif" border="0" alt="" /></div>
        <div style="width:24%;height:150px;float:right;"><img src="/sites/cms/layout/images/i6.gif" border="0" alt="" /></div>
        <div style="width:24%;height:150px;float:right;"><img src="/sites/cms/layout/images/i7.gif" border="0" alt="" /></div>
        <div style="width:24%;height:150px;float:right;"><img src="/sites/cms/layout/images/i8.gif" border="0" alt="" /></div>
    </div>
    <div style="height:100%;float:right;width:35%;">
        <div style="width:100%;height:250px;background:#fff;border:1px solid #ccc;margin-top:10px;float:left;">
            <ul id="mainul">
                <li>שם האתר: בניית אתרים</li>
                <li>מנהל האתר: קורן תרשיש</li>
                <li>כתובת האתר: www.dooble.co.il</li>
                <li>דפים באתר: 60</li>
                <li>משתמשים רשומים: 12</li>
                <li>נפח אחסון מקסימלי: 100MB</li>
                <li>משקל הקבצים הנוכחי: 24MB</li>
                <li style="border-bottom:0px;">תאריך הבא לחידוש האתר: 16/12/2010</li>
            </ul>
        </div>
    </div>
</div>