<div style="-moz-border-radius:8px;-webkit-border-radius:8px;padding:10px;width:300px;float:right;margin:10px 0 0 88px;border:1px solid #ccc;background:#fff;">
<form action="/user/login.asp?mode=LetMeIn" method="post" name="login" class="_validate">
<div class="checkout1">
	<table>
		<tr>
			<td colspan="2"><b>התחברות מאובטחת</b></td>
		</tr>
		<tr>
			<td width="125">דואל:</td>			
			<td><input type="text" name="Email" class="Email" style="height:30px;line-height:30px;width:200px;"></td>	
		</tr>
		<tr>
			<td>סיסמא:</td>
			<td><input type="password" name="Password" class="required" style="height:30px;line-height:30px;width:200px;"></font></td>
		</tr>
	</table>
</div>
<a href="/user/login.asp?forgot=password" style="color:navy;">שכחתי סיסמא</a>
<input type="submit" class="send" style="float:left;" value="התחבר">
</form>
</div>
