[category27 type="hidden",value=1]
<h3>עריכת משתמש</h3>
<table class="tableform" dir="rtl" cellpadding="0" cellspacing="0" width="100%">
    <tr>
		<td width="20%" align="right"><p>Email</p></td>
		<td width="80%" align="right"><div style="position:relative;">[Email]</td>
	</tr>
    <tr>
		<td align="right"><p>מעוניין לקבל דאר:</p></td>
		<td align="right">[MailingList type="checkbox",value="1"]</td>
	</tr>
    <tr>
		<td width="20%" align="right"><p>שם</p></td>
		<td width="80%" align="right">[Name type="text",class="required"]</td>
	</tr>
	<tr>
		<td width="20%" align="right"><p>שם משפחה</p></td>
		<td width="80%" align="right">[Familyname type="text",class="required"]</td>
					</tr>
        <tr>
            <td align="right">טלפון</td>
			<td align="right">[Phone type="text",class="required"]</td>
         </tr>
         <tr>
            <td align="right">סלולארי</td>
			<td align="right">[cellular type="text",class="required"]</td>
        </tr>
         <tr>
            <td align="right">כתובת</td>
			<td align="right">[Address type="text",class="required"]</td>
        </tr>
         <tr>
            <td align="right">עיר</td>
			<td align="right">[City type="text",class="required"]</td>
        </tr>
         <tr>
            <td align="right">מיקוד</td>
			<td align="right">[Zipcode type="text",class="required"]</td>
        </tr>
		
