<script src="/js/marquee.js" type="text/javascript"></script>
<script type="text/javascript">
var delayb4scroll=2000 //Specify initial delay before marquee starts to scroll on page (2000=2 seconds)
var marqueespeed=1 //Specify marquee scroll speed (larger is faster 1-10)
var pauseit=1 //Pause marquee onMousever (0=no. 1=yes)?
</script>
<div class="newsbox">
	<div id="marqueecontainer"  onmouseover="copyspeed=pausespeed" onmouseout="copyspeed=marqueespeed">
		<div id="vmarquee"  style="position: relative; width: 98%;">