vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Jan 2009 14:34:41 -0000
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{F0F4C730-09BC-4D5A-B0A6-CC3BBE3E6862}
vti_backlinkinfo:VX|ColourPicker/NS7.1/ColorPicker.htm
vti_cacheddtm:TX|20 Jan 2009 14:34:41 -0000
vti_filesize:IR|14635
vti_cachedlinkinfo:VX|S|../ns7.1/gradients.png S|../ns7.1/gradients.png S|../ns7.1/WebSafe.gif S|../ns7.1/VerticalPosition.gif S|../ns7.1/GradientPositionLight.gif S|../ns7.1/Color.cur S|../ns7.1/Color.cur S|../ns7.1/hue2.png
vti_cachedsvcrellinks:VX|FSUS|ColourPicker/ns7.1/gradients.png FSUS|ColourPicker/ns7.1/gradients.png FSUS|ColourPicker/ns7.1/WebSafe.gif FSUS|ColourPicker/ns7.1/VerticalPosition.gif FSUS|ColourPicker/ns7.1/GradientPositionLight.gif FSUS|ColourPicker/ns7.1/Color.cur FSUS|ColourPicker/ns7.1/Color.cur FSUS|ColourPicker/ns7.1/hue2.png
vti_syncwith_localhost\\d\:\\gibuy\\yifat.net/d\:/gibuy/yifat.net:TR|20 Jan 2009 14:34:41 -0000
