<script type="text/javascript">
function ShowHide(obj){
obj.animate({"height": "toggle"}, { duration: 1000 });
}
</script>
<div id="formcontainer">
<center>
    <div id="formheader">
        <div id="formtitle">עריכת בלוק תוכן</div>
        <div id="formcancel"><img src="/sites/cms/layout/images/cancel.gif" border="0" alt="" /></div>
    </div>
    <div id="formcontent">
        <div id="formrightfieldsbig">
            <table dir="rtl" cellpadding="5" cellspacing="0" width="99%" style="margin-top:10px;">
                <tr>
                    <td width="75" align="right" valign="top">שם הבלוק</td>
                    <td align="right" valign="top">[ContentBlockName style="width:200px;",class="required"]</td>
                </tr>
                <tr>
                    <td align="right" valign="top">תמונה</td>
                    <td align="right" valign="top">[image Type="file"]</td>
                </tr>
                <tr>
                    <td align="right" valign="top">תוכן הבלוק</td>
                    <td align="right" valign="top">[ContentBlockHtml Type="editor",style="width:99%;height:350px;border:1px solid #ccc;"]</td>
                </tr>
                <tr>
                    <td align="right" valign="top"></td>
                    <td align="right" valign="top">[Submit Type="submit",value="שמירה",style="padding:0 10px;"]</td>
                </tr>
            </table>
        </div>
        <div id="clearboth"></div>
    </div>
</center>
</div>