    <tr onmouseover="Mark(this);" onmouseout="Unmark(this);" style="height:35px;">
        <td style="padding-right:10px;border-left:1px solid #eee;border-bottom:1px solid #eee;" align="right">[RunNewsName]</td>
        <td style="border-left:1px solid #eee;border-bottom:1px solid #eee;" align="center">[RunNewsTime]</td>
        <td style="padding-right:10px;border-left:1px solid #eee;border-bottom:1px solid #eee;" align="center">[RunNewsOrder]</td>
        <td style="border-left:1px solid #eee;border-bottom:1px solid #eee;" align="center"><a href="admin.asp?formid=[formid]&m=edit&id=[RunNewsID]"><img src="/sites/cms/layout/images/edit.gif" border="0" alt="ערוך" /></a></td>
        <td style="border-bottom:1px solid #eee;" align="center"><a href="admin.asp?formid=[formid]&m=delete&id=[RunNewsID]"><img src="/sites/cms/layout/images/delete.gif" border="0" alt="מחק" /></a></td>
    </tr>