    <tr onmouseover="Mark(this);" onmouseout="Unmark(this);" style="height:35px;">
        <td style="padding-right:10px;border-left:1px solid #eee;border-bottom:1px solid #eee;" align="right">[MenuName]</td>
        <td style="padding-right:10px;border-left:1px solid #eee;border-bottom:1px solid #eee;" align="right">[MenuLink]</td>
        <td style="border-left:1px solid #eee;border-bottom:1px solid #eee;" align="center">[LangID]</td>
        <td style="border-left:1px solid #eee;border-bottom:1px solid #eee;" align="center"><a href="admin.asp?formid=[formid]&m=edit&id=[NewsID]"><img src="/sites/cms/layout/images/edit.gif" border="0" alt="ערוך" /></a></td>
        <td style="border-left:1px solid #eee;border-bottom:1px solid #eee;" align="center"><img src="/sites/cms/layout/images/copy.gif" border="0" alt="שכפל דף" /></td>
        <td style="border-left:1px solid #eee;border-bottom:1px solid #eee;" align="center"><img src="/sites/cms/layout/images/link.gif" border="0" alt="צור קישור" /></td>
        <td style="border-bottom:1px solid #eee;" align="center"><a href="admin.asp?formid=[formid]&m=delete&id=[NewsID]"><img src="/sites/cms/layout/images/delete.gif" border="0" alt="מחק" /></a></td>
    </tr>