<table border="0" width="400" dir="ltr">
	<tr>
		<td align="right" valign="top">[Name style="width:280px;-moz-border-radius:5px;border:1px solid #c4c4c4;height:25px;-webkit-border-radius:5px;text-align:right",class="required"]</td>
		<td width="100" align="right" valign="top">:שם מלא</td>
	</tr>
	<tr>
		<td align="right" valign="top">[email style="width:280px;-moz-border-radius:5px;-webkit-border-radius:5px;border:1px solid #c4c4c4;height:25px"]</td>
		<td align="right" valign="top">:אימייל</td>
	</tr>
	<tr>
		<td align="right" valign="top">[phone style="width:280px;-moz-border-radius:5px;-webkit-border-radius:5px;border:1px solid #c4c4c4;height:25px;",class="required"]</td>
		<td align="right" valign="top">:טלפון</td>
	</tr>
	<tr>
		<td align="right" valign="top">[About style="width:280px;float:right;text-align:right",Type="combo",Options="מצאתי תקלה במערכת|אני בעל חניון- מעוניין לפרסם חינם|אני בעל עסק- מעוניין להצטרף|יש לי שאלה|יש לי רעיון לשיפור|אחר",Headline="בחר",class="required"]</td>
		<td align="right" valign="top">:בחר נושא</td>
	</tr>
	<tr>
		<td align="right" valign="top">[Message type="textarea",rows="2",maxlength="150",style="width:280px;-moz-border-radius:5px;-webkit-border-radius:5px;border:1px solid #c4c4c4;height:80px;text-align:right"]</td>
		<td align="right" valign="top">:הודעה</td>
	</tr>
	<tr>
		<td colspan="2">[input style="width:55px;height:29px;cursor:pointer;-moz-border-radius:5px;-webkit-border-radius:5px;background:#2698D6;border:0px;color:#fff;font-weight: bold;font-family:arial;line-height:29px;padding: 0 0 5px;",Type="Submit",Value="שלח" ]</td>
	</tr>
</table>