<table border="2" width="400" dir="ltr">
	<tr>
		<td align="right" valign="top">[Name]</td>
		<td width="100" align="right" valign="top">:שם מלא</td>
	</tr>
	<tr>
		<td align="right" valign="top">[email]</td>
		<td align="right" valign="top">:אימייל</td>
	</tr>
	<tr>
		<td align="right" valign="top">[phone]</td>
		<td align="right" valign="top">:טלפון</td>
	</tr>
	<tr>
		<td align="right" valign="top">[About]</td>
		<td align="right" valign="top">:נושא</td>
	</tr>
	<tr>
		<td align="right" valign="top">[Message]</td>
		<td align="right" valign="top">:הודעה</td>
	</tr>
</table>