vti_encoding:SR|utf8-nl
vti_author:SR|WEB101\\Administrator
vti_modifiedby:SR|WEB101\\Administrator
vti_timelastmodified:TR|09 May 2009 23:10:46 -0000
vti_timecreated:TR|09 May 2009 23:10:46 -0000
vti_cacheddtm:TX|09 May 2009 23:10:46 -0000
vti_filesize:IR|2478
vti_cachedlinkinfo:VX|S|../img/body_bg.gif S|../img/logo_digitalis.gif S|../img/c.gif S|../img/prev_minus.gif S|../img/next_plus.gif S|../img/prev_chevron.png S|../img/next_chevron.png
vti_cachedsvcrellinks:VX|FSUS|blocks/gallery6/img/body_bg.gif FSUS|blocks/gallery6/img/logo_digitalis.gif FSUS|blocks/gallery6/img/c.gif FSUS|blocks/gallery6/img/prev_minus.gif FSUS|blocks/gallery6/img/next_plus.gif FSUS|blocks/gallery6/img/prev_chevron.png FSUS|blocks/gallery6/img/next_chevron.png
vti_extenderversion:SR|5.0.2.6790
vti_lineageid:SR|{0E408CB9-5AD0-47AE-8ED5-9461C9D01552}
vti_backlinkinfo:VX|blocks/gallery6/gallery6.asp
