<div style="width:480px;float:right;border:5px solid #2698D6;height:191px;text-align:right;padding:5px;-moz-border-radius:10px;-webkit-border-radius:10px;positon:relative;">
	<div style="width:475px;height:190px;margin:0px auto;background:#fff url(http://www.citypark.co.il/sites/cityp/layout/he-IL/images/copun.jpg) no-repeat;">
		<div style="width:300px;height:150px;float:left;margin:13px 0 0 45px;color:#fff;direction:rtl;font-size:14px;">
		<h3 style="color:#fff;font-size:18px;width:230px;"><span>קופון - [street_name]</span><span id="house_number[parkingID]">, [house_number]</span><span id="City[parkingID]"> [City]</h3>
		[tel]<br />
		10% הנחה ממחיר מחירון לאחסנה מעל חודש ימים
		[coupon_text]<br />
		</div>
	</div>
</div>
