<div style="width:480px;float:right;border:5px solid #2698D6;height:200px;text-align:right;padding:5px;">
	<h3>צור קשר</h3>
	<table border="0" width="95%">
	<tr>
		<td rowspan="2" valign="top">
			<textarea rows="3" style="-moz-border-radius:5px;border:1px solid #BFBFBF;text-align:right;-webkit-border-radius:5px;" name="Message"></textarea>
			
		</td>
		<td rowspan="2" valign="top">:הערות</td>
		<td><input name="Name" style="-moz-border-radius:5px;border:1px solid #BFBFBF;text-align:right;-webkit-border-radius:5px;"></td>
		<td>:שם מלא</td>
	</tr>
	<tr>
		<td valign="top"><input name="Email" style="-moz-border-radius:5px;border:1px solid #BFBFBF;text-align:right;-webkit-border-radius:5px;"></td>
		<td valign="top">:דוא&quot;ל</td>
	</tr>
	<tr>
		<td rowspan="2" colspan="2" valign="top"><input type="submit" value="שלח" id="send"></td>
		<td valign="top"><input name="Phone" style="-moz-border-radius:5px;border:1px solid #BFBFBF;text-align:right;-webkit-border-radius:5px;"></td>
		<td valign="top">:טלפון</td>
	</tr>
	<tr>
		<td valign="top"><input name="Adress" style="-moz-border-radius:5px;border:1px solid #BFBFBF;text-align:right;-webkit-border-radius:5px;"></td>
		<td valign="top">:כתובת</td>
	</tr>
</table>
</div>
