<div class="head_r"></div>
		<div class="head_m"></div>
		<div class="head_l"></div>
		<div class="inheader">
			<div class="inheader_r">
				<div class="right_banner">
					<div class="inheader_top"></div>
					<div class="inheader_middle">
						<h1>תוצאות חיפוש</h1>
						מציג תוצאות חיפוש
					</div>
					<div class="inheader_bottom"></div>
				</div>
				<div class="pic">
					<img src="/sites/ofek/layout/he-IL/images/pic6.jpg" alt="pic6" title="pic6" />
					<div class="numbers">
						<div class="number"><a href="#" title="">1</a></div>
						<div class="number"><a href="#" title="">2</a></div>
						<div class="number"><a href="#" title="">3</a></div>
						<div class="number"><a href="#" title="">4</a></div>
						<div class="number"><a href="#" title="">5</a></div>
					</div>
				</div>
			</div>
			
			<div class="script_top"></div>
			<div class="script_middle">
				<div class="inscript">
					<h3>בין לקוחותינו</h3>
				</div>
				<div class="center">
					<a href="#" title=""><img src="/sites/ofek/layout/he-IL/images/right_arrow.png" alt="pic6" title="pic6" class="arrow_r"/></a>
					<img src="/sites/ofek/layout/he-IL/images/pic1.gif" alt="pic6" title="pic6" />
					<a href="#" title=""><img src="/sites/ofek/layout/he-IL/images/left_arrow.png" alt="pic6" title="pic6"  class="arrow_l"/></a>
				</div>
			</div>
			<div class="script_bottom"></div>
		</div>
	</div>
	<div class="content">
		<div class="content_right">
					<div class="contact_top"></div>
					<div class="contact_main">
						<h3>צור קשר</h3>
						[Contacttemplate]
					</div>
					<div class="category"><h3>קטגוריות</h3></div>
					<div class="category_main">
						<div class="category_inside">
						[menus10]
						</div>
					</div>
					<div class="bottom"></div>
					<div class="top"></div>
					<div class="news">
						<div class="h3"><h3>חדשות ומבצעים</h3></div>
						[News5]
					</div>
					<div class="bottom"></div>
				</div>
				<div class="content_left">
					<div class="text_top"></div>
					<div class="text_main">
						<div class="text_in">
							<div class="text_head">
								<h2>תוצאות חיפוש</h2>
								<span>09-8353060 </span><img src="/sites/ofek/layout/he-IL/images/phone.gif" alt="phone" title="phone" />
							</div>
							