<div class="sons_top"></div>
<div class="sons_middle">
	<div class="sons_inmiddle">
		<a href="[/Urltext]" title="[Name]"><img src="[Image]" alt="[Name]" title="[Name]" width="149"/></a>
		<div class="sons_text">
			<h2>[Name]</h2>
			[Shorttext]
			<div class="options">
				<a href="[/Urltext]" title="[Name]"><img src="/sites/cityp/layout/he-IL/images/pic8.gif" alt="[Name]" title="[Name]" width="28" height="29"/></a>
				<a href="[/Urltext]" title="[Name]"><img src="/sites/cityp/layout/he-IL/images/pic9.gif" alt="[Name]" title="[Name]" width="28" height="29"/></a>
				<a href="[/Urltext]" title="[Name]"><img src="/sites/cityp/layout/he-IL/images/pic10.gif" alt="[Name]" title="[Name]" width="28" height="29"/></a>
				<a href="[/Urltext]" title="[Name]"><img src="/sites/cityp/layout/he-IL/images/pic11.gif" alt="[Name]" title="[Name]" width="28" height="29"/></a>
				<a href="[/Urltext]" title="[Name]"><img src="/sites/cityp/layout/he-IL/images/pic12.gif" alt="[Name]" title="[Name]" width="28" height="29"/></a>
				<a href="[/Urltext]" title="[Name]"><img src="/sites/cityp/layout/he-IL/images/pic13.gif" alt="[Name]" title="[Name]" width="28" height="29"/></a>
				<a href="[/Urltext]" title="[Name]"><img src="/sites/cityp/layout/he-IL/images/pic14.gif" alt="[Name]" title="[Name]" width="28" height="29"/></a>
			</div>
		</div>
		<div class="sons_buttons">
			<a href="[/Urltext]" title="[Name]">
				<img src="/sites/cityp/layout/he-IL/images/phone.gif" alt="צור קשר" title="צור קשר" width="22" height="16"/>
				צור קשר
			</a>
			<a href="[/Urltext]" title="[Name]">
				<img src="/sites/cityp/layout/he-IL/images/car.gif" alt="הזמן חניה" title="הזמן חניה" width="21" height="18"/>
				הזמן חניה
			</a>
			<a href="[/Urltext]" title="[Name]">
				<img src="/sites/cityp/layout/he-IL/images/pic7.gif" alt="קופון" title="קופון" width="22" height="21"/>
				קופון
			</a>
		</div>
	</div>
</div>
<div class="sons_bottom"></div>