			<div class="sons_atrc">
				<div class="pa1"></div>
				<div class="pa2">
					<h4>[type] - [Name]</h4>
					<div class="Image_atrc"><div id="Image_atrc[Id]"><img src="[Image]" width="70" height="70" alt="[Name]" title="[Name]"/></div></div>
					<p>[comment]</p>
					<a href="[Urltext]"><span>להמשך</span></a>
				</div>
				<div class="pa3"></div>
			</div>
<script type="text/javascript">$(document).ready(function(){
	if ("[Image]".replace(/\s/g,"") == "") $("#Image_atrc[Id]").hide();
	});
</script>