<table border="0" width="100%" cellpadding="0" cellspacing="0" id="main_content">
	<tr>
		<td id="main_content_des">טופס כניסה לאתר יפעת@אינטרנט<br>
			<font color="#8ecc38">להתעדכן. לדעת. לצמוח. להתכנס. להשתמע.</font>
		</td>
	</tr>
	<tr>
		<td id="main_content_text">
			<table border="0" width="100%" cellpadding="0" cellspacing="0" style="margin-top:30px;">
				<tr>
					<td valign="top">						
						<table border="0" cellpadding="0" cellspacing="0" id="image_login">
							<tr>
								<td id="lpic1"></td>
							</tr>
							<tr>
								<td id="lpic2"><img width="240" title="התחברות" alt="התחברות" src="/Sites/yifat/layout/Images/enter.gif"/></td>
							</tr>
							<tr>
								<td id="lpic3"></td>
							</tr>
						</table>
					</td>
					<td rowspan="2" valign="top">
					<div align="right" style="padding:0px 0px 35px 30px;">
						<table border="0" width="600" cellpadding="5" cellspacing="0">
							<tr>
								<td colspan="4" valign="top">
										<div style="width:500px;float:right;direction:rtl;">
										<b>אם הנך משתמש רשום אנא הכנס את כתובת הדואר 
							האלקטרוני והסיסמה שברשותך.</b><br />
										<table border="0" cellpadding="0" cellspacing="0" id="login_user">
											<tr>
												<td id="ls1"></td>
											</tr>
											<tr>
												<td id="ls2">
												     <table align="center" id="login">
		                                                    <tbody><tr>
			                                                    <td colspan="2" id="login-secure">התחברות מאובטחת</td>
		                                                    </tr>
		                                                    <tr>
			                                                    <td id="login-user">שם משתמש:</td>			
			                                                    <td><input style="width:150px;text-align:left;" type="text" dir="ltr" id="Username" name="LoginName" class="required"></td>	
		                                                    </tr>
                                                    		
		                                                    <tr>
			                                                    <td id="login-password">סיסמא:</td>
			                                                    <td><input style="width:150px;text-align:left;" type="password" dir="ltr" id="Password" name="Password" class="required"></td>
		                                                    </tr>
                                                    		<tr>
                                                    		    <td colspan="2" id="login-status"></td>
                                                    		</tr>
		                                                    <tr>
			                                                    <td align="left" colspan="2" id="login-connect"><input type="submit" value="התחבר"/></td>
		                                                    </tr>
	                                                    </tbody></table>
												</td>
											</tr>
											<tr>
												<td id="ls3"></td>
											</tr>
										</table>
								</td>
							</tr>
							<tr>
								<td valign="top">
									<div align="left">
										<table border="0"  cellpadding="0" cellspacing="0" style="margin-left:12px;">
											<tr>
												<td id="ls_last1"><div style="text-align:right;margin-right:10px;"><a href="http://www.yifat.net" target="_blank">www.yifat.net</a></div></td>
												<td id="ls_btn"></td>
											</tr>
										</table>
									</div>
								</td>
								<td valign="top">		
									<div align="right">
										<table border="0" cellpadding="0" cellspacing="0">
											<tr>
												<td id="ls_middle"><div style="text-align:right;margin-right:10px;"><a href="userlogin.asp">להרשמה</a></div></td>
												<td id="ls_btn"></td>
											</tr>
										</table>
									</div>
								</td>
								<td valign="top">				
									<div align="right">
										<table border="0" width="183" cellpadding="0" cellspacing="0" style="margin:0px 10px 40px 0px;">
											<tr>
												<td id="ls_last"><div style="text-align:right;margin-right:10px;"><a href="צור-קשר">יצירת קשר עם צוות האתר</a></div></td>
											<td id="ls_btn"></td>
											</tr>
										</table>
									</div>
								</td>
							</tr>
						</table>
						</div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	</table>