{
}

table#nav { /* table is generated via shopa_navigation_create.asp */
 padding:0px;
 width:100%;
 border-collapse:collapse;
 z-index:1000;
 height:28px;
 margin:0px;
 float:right;
}

table#nav td {
     font-family:Arial;
     padding:0px;
     height:28px;
     padding-left:0px;
     text-align:right;
     border-left:1px solid #ccc;
     background:#F0F0F0;
}
 
table#nav td a {
 display:block;
 text-align:center;
 padding:0px;
 text-decoration:none;
 font-size:12px;
 color:#717171;
 font-weight:bold;
 line-height:28px;
 width:100%;
}

table#nav td.last{
    width:auto;
} 
table#nav td.last a{
    color:#26BADE;
}
table#nav td:hover {
 background:#E5E5E5;
}
 
table#nav td.active {
 padding:0px;
 margin:0px;
 background:#7AA2AE;
}
table#nav td.active a {
 color:#023246;
}

/* Horizontal navigation drop down menu
   do not remove or modify styles listed 
   under "Do Not Change" */
table#nav ul {
	/* Do not change  */
	position:absolute;
	left: -999em;
	padding:0px;
	margin:0px;
	list-style-type:none;
	height:28px;
	text-align:right;
	z-index:1000;
	width:100%;
}

/* Do not change  */
#nav td:hover ul { left: auto; }
#nav td.sfhover ul { left: auto; }

#nav ul li { /* submenu */	/* Do not change */
	display:block;
	margin:0px;
	height:28px;
	padding:0px;
	background:#000;
	line-height:28px;
	width:150px;
	text-align:right;
	border-left:2px solid #57A5EC;
	border-right:2px solid #57A5EC;
	border-bottom:1px solid #ccc;
}

#nav td ul li:hover {
    background:#777;
}

table#nav ul li a:hover { color:#fff; }
table#nav ul li a { /* submenu links */
	/* Do not change */
	display:block;
	text-align:right;
	padding-right:10px;
	margin:0px;
	height:28px;
	line-height:28px;
	font-size:12px;
	border:0px;
	color:#fff;
	width:140px;
}